@page
@{
    ViewData["Title"] = "React Adminwcdwcw";
}

@section scripts
{
    <environment names="Development">
        <script src="~/react_admin.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/react_admin.js" asp-append-version="true"></script>
    </environment>
}

<div id="react-admin-app"></div>